.user-messages {
  text-align: center;
  margin: 20px;
  color: white;
}

.board-selector-container,
.players {
  display: grid;
  grid-gap: 10;
  grid-template-columns: repeat(8, minmax(75px, 90px));
  /*display: block;*/
  margin-left: 30px;
}

.go-row-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: calc(5 * var(--playerWidth));
  margin-left: 70px;
  /*width: 600px;*/

  .go-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 10px;

    .status {
      color: white;
    }

    label {
      color: rgb(180, 180, 180);
    }
  }
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .player {
    width: v-bind(playerWidth);
    border: 1px solid red;
    display: inline-grid;
    margin: 10px;
  }
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 10px;
  color: white;
}
